# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/
jspm_packages/

# Compiled TypeScript files
dist

# Organizations config files
configs/connection-consumer.json
configs/connection-distributor.json
configs/connection-manufacturer.json
configs/connection-retailer.json
configs/connection-supplier.json

# Environment variables
.env

# Firebase config file
src/config/supply-chain-9ea64-firebase-adminsdk-hz2j8-94d0fecb0a.json
